Backend/Model/dataset/
Backend/Model/split
Backend/dataset
Backend/runs
Backend/predictions
Backend/all_test_results
runs/
Backend/Model/demo_dataset/
# Python
gpu_checker.py
__pycache__/
*.pyc
*.pyo

# Environments
venv/
.env/
env/